<h2>Welcome to The Lamps Web Store</h2>

<p>It's a test project.</p>

<hr />

<h4>My initial task</h4>

<p>
    I should make a Web site. The user of the site should be able to create his/her account, to login and logout.
    After login user should be able to see a table with the list of items (entities is arbitrary).
    The table should contain pagination and sorting.
    Also user should be able to create/edit/delete items in the table.
</p>
