<h2>Welcome to The Lamps Web Store</h2>

<p>It's a test project.</p>

<p>Сделать веб приложение. Пользователь должен иметь возможность зарегистрироваться/залогиниться. 
    После логина пользователю должна отображаться таблица с сущностью (может быть любой: книга, продукт, 
    товар и т.д., можете выбрать что хотите). В таблице должна быть пэгинация и сортировка. Должна быть 
    возмоность создания/редактирования/удаления сущностей в таблице.</p>